.container2 {
    padding-top: 3rem;
    margin: auto;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.mid_container {
    display: flex;
    align-items: center;
    margin-top: 6rem;
    width: 100%;
}

.home_img {
    width: 50rem;
    margin-right: 5rem;
}

.first_head {
    font-size: 5rem;
}

.desc {
    margin: 0;
    font-weight: bold;
    padding-right: 5rem;
    font-size: var(--font-large);
}

.meet_form {
    background: white;
    width: 30%;
    height: auto;
    padding: 20px;
    min-width: 400px;
    text-align: center;
    margin: auto;
    margin-top: 100px;

}

.-btn {
    padding: .5rem 4rem;
    font-size: 1.5rem;
}