.footer {
    width: 100vw;
    height: 15vh;
    background-color: var(--secondary);
}

.iconContainer {
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon {
    color: var(--primary);
    margin: 2rem;
    border-radius: 50%;
    padding: 1rem;
    cursor: pointer;
}